<h1>lista de cervezas</h1>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>compras</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let beer of beers" [ngClass]="{'clearance': beer.clearance}">
            <td><img width="100"  class="img-thumbnail" [src]="beer.image" [alt]="beer.name"></td>
            <td>{{beer.name}}</td>
            <td>{{beer.type}}</td>
            <td>{{beer.price | currency}}</td>
            <td><span class="badge text-bg-danger" *ngIf="beer.stock == 0">SIN STOCK</span></td>
            <td>
                <app-input-integer 
                    [quantity]="beer.quantity" 
                    [max]="beer.stock" 
                    (quantityChange)="updateBeerQuantity(beer, $event)">
                </app-input-integer>
            </td>
        </tr>
    </tbody>
</table>
